h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

body {
    background-color: #91a7b4;
}

.body {
    background-color: #a7bfcd;
    border: 3px solid ;

    box-shadow: 5px 5px;
    border-radius: 10px;
    margin: 80px;
    margin-top: 60px;
    word-wrap: break-word;
}

hr {
    border: 2px solid #008cff;
    border-radius: 50%;
}

@media (max-width: 991px) {
    .body{
        margin: 20px;
        margin-top: 20px;
    }
    
    h1{
        font-size: 30px;
    }
    
    h2{
        font-size: 25px;
    }
    
    h3{
        font-size: 20px;
    }
    
    p{
        font-size: 15px;
    }

    .features{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: auto;
        height: auto;
        margin: 20px;
    }
}

@media (max-width: 280px) {
    .airz{
      display: none;
    }
    .header{
        width: 100px;
        height: auto;
    }
}

.primary-button {
    background-color: #9AC8CD;
    border-radius: 30px;
    box-shadow: 2px 2px;
    border: 3px solid;
    color: black;
}

.primary-button:hover {
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #77B0AA;
    border:3px solid;
}

.btn2 {
    background-color: #3572EF;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    color: white;    
}

.btn2:hover {
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #3ABEF9;
    border:3px solid black;
    color: #000000;
}

.btn3 {
    background-color: #3ABEF9;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    color: black;   
}

.btn3:hover {
    transform: translate(-4px,-4px);
    box-shadow: 6px 6px #000000;
    background-color: #3572EF;
    border:3px solid black;
    color: #000000;
}
   

.navbar-toggler {
    background-color: #3572EF;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    border: 3px solid;
    color: black;
}

.navbar-toggler:active {
    transform: translate(-3px,-3px);
}

.navbar-toggler:focus {
    background-color: #9AC8CD;
    border-radius: 30px;
    box-shadow: 2px 2px black;
    border: 3px solid;
    color: black;  
}

.navbar-toggler:hover {
    box-shadow: 3px 3px #000000;
    background-color: #9AC8CD;
    border:3px solid;
    border-radius: 30px;
}



.box {
    background-color: white;
    border-radius: .75rem;
    box-shadow: 5px 5px;
    border: 3px solid;
    color: black;
    padding: 20px;
}

.box:hover {
    transform: translate(-4px,-4px);
    color: #F6F1E9;
    box-shadow: 6px 6px #000000;
    background-color: #77B0AA;
    border:3px solid black;
}

.fa {
    font-size: 30px;
    width: 60px;
    text-align: center;
}

.fa:hover {
  opacity: 0.7;
}

.social{ 
    background-color: wheat;
    border-radius: .75rem;
    box-shadow: 5px 5px;
    border: 3px solid;
    color: black;
    position: absolute;
    min-width: 50px;
}


input[type=text], select, textarea {
    color: #000000;
    width: 100%;
    padding: 12px;
    border: 3px solid black; 
    border-radius: .75rem;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    box-shadow: 3px 3px ;  
    outline: none;
}
  


input[type=submit] {
    background-color: #3572EF;
    border-radius: 30px;
    box-shadow: 3px 3px black;
    border: 3px solid black;
    color: black;
    padding: 6px;
    transition: all ease-in-out 800ms;
    transform: translate(-4px,-4px);
}

input[type=submit]:hover {
    color: #000000;
    padding: 6px;
    box-shadow: 6px 6px #000000;
    background-color: #3ABEF9;
    border: 3px solid black;
    border-radius: 30px;
}
  
.contcontainer {
    background-color: white;
    border-radius: .75rem;
    box-shadow: 5px 5px;
    border: 3px solid;
    color: black;
    padding: 20px;
}


input[type=text]:active, select:active, textarea:active {
    transform: translate(-4px,-4px);
    color: #000000;
    border:3px solid black;
}

.form-status {
  display: flex;
  justify-content: center;
}